<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="ja" xml:lang="ja" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>2-click recruiter</title>
<meta name="keywords" content="採用,GitHub,ツール" />
<meta name="description" content="HitHubのOAuthを利用してHitHubアカウントで採用応募出来るツールです" />
<meta http-equiv="content-script-type" content="text/javascript">
<meta http-equiv="content-style-type" content="text/css">
<meta http-equiv="imagetoolbar" content="no" />
<!-- 外部CSS読み込み -->
<link href="/css/base.css" rel="stylesheet" type="text/css" />
<link href="/css/index.css" rel="stylesheet" type="text/css" />
<!-- /ここまで -->
</head>
<body>
<div id="container">
<div id="head">
<h1>GitHub-2クリック採用ツール</h1>
<div id="head_up"><h2><a href="./">hisajuの遊び場</a></h2></div>
<div id="head_mdl"><p><br/><a href="https://github.com/hisaju/recruiter" target="_blank">ソースはご自由に<br />ご使用ください</a></p></div>
<div id="head_menu">
<ul>
<li><a href="./">HOME</a></li>
</ul>
</div>
</div>
<div id="contents">
<div id="main">
<h3>２クリック採用ツール</h3>
[% content %]
</div>
<div id="foot_sps"></div>
<div id="foot"></div>
</div>
<div id="copy"><a href="http://tech.blog.hisaju.org">rake::enjoy</a></div>
</div>
</body>
</html>



